@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.Hero{
    max-width: 1160.58px;
    margin: auto;
    display: flex;
    padding: 2em;
}

.tagline{
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  color: #DF6951;
}

.heading{
font-weight: 700;
  font-style: normal;
  font-size: 3em;
  color: #181E4B;
}
p{
font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #5E6282;
}
.more{
    padding: 16px;
    background-color: #F1A501;
    border-radius: 10px;
    color: white;
}
a img{
    height: 5rem;
    width: auto;
}

.buttons{
    margin-left: -1.5em;
}
.right img{
    height: auto;
    max-width: 100%;
}

@media (max-width: 800px) {
    .right img{
       display: none;
    }
    .Hero{
        padding-top: 0;
    }
    .left{
        margin-top: 0;
    }
    .buttons{
        margin-left: -1em;
    }

    .buttons img{
        height: 50px;
    }
 
}